@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

.inicio{
    width: 100%;
}
header > div{
    position: absolute;
    right: 10%;
    top: 12%
}
header div > h1{
    font-size: 7vw;
}
h1{
color: white;
}
h1, h2{
    font-family: Dancing Script, sans-serif ;
    font-size: 3.5vw;
}
.width-content{
    max-width: 1600px;
    margin: 0px auto;
}
nav{
    position: sticky;
    top: 0;
    align-items: center;
    margin-top: -5x;
}
ul{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    padding: 15px;
    background-color: #053617;
    margin-top: -4px;
    
}
li{
   list-style: none;
   font-size: 18px;
}
a{
    text-decoration: none;
    color: white;
}
a:before{
    
}
section.green{
    background-color: #053617;
    margin-top: -4px;
}
div.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.green-row{
    flex-direction: row-reverse;
}
article{
    width: 35%;
}
div.container > article >img, video{
    width: 100%;
}
article.text{
    padding: 10px;
}
p{
    text-align: justify;
    font-size: 20px;
}
p.white, h2.white{
    color: white;
}
.subtitulo{
    text-align: center;
    padding-top: 10px;
}
section.tamaño{
    width: 75vw;
}
div.clientes{
   margin: 20px 30px
}
div.clientes > article{
padding: 30px 30px;
}
div.nombre{
    display: flex;
    justify-content: end;
    color:red;
}
footer.green{
    display: flex;
    justify-content: center;
    background-color: #053617;
    color: white;
    padding: 50px;
}
div.container-footer{
    display: flex;
    justify-content:center;
    width: 70%;
}
div.container-footer > .article{
    flex-direction: column;
}

div.logos{
    display: flex;
    padding-top: 15px;
    gap: 15px;
    width: 15%;
}
div.logos > img{
    width: 100%;
}
h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.div-footer > p{
    font-size: 15px;
    margin-bottom: 8px;
    font-family: Lato, sans-serif;
}
 