@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

.inicio{
    width: 100%;
}
header > div{
    position: absolute;
    right: 10%;
    top: 12%
}
header div > h1{
    font-size: 7vw;
}
h1{
color: white;
}
h1, h2{
    font-family: Dancing Script, sans-serif ;
}
.width-content{
    max-width: 1200px;
    margin: 0px auto;
}
nav{
    position: sticky;
    top: 0;
    align-items: center;
    margin-top: -5x;
}
ul{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    padding: 15px;
    background-color: #053617;
    margin-top: -4px;
    
}
li{
   list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.seccion{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
article{
    max-width: 50%;
    text-align: center;
    align-items: center;
}
.img{
    width: 100%;
}
.text{
    
}
